<div class="container mt-5">
    <form class="btn btn-danger text-white" method="post" action="{{ path('student_delete', {'id': student.id}) }}" onsubmit="return confirm('هل أنت متأكد أنك تريد حذف هذا البند؟');">
        <button class="btn">حذف</button>
    </form>
</div>
